    .shop-component{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .filter-search-component{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .search-input{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .search-input:focus{
        outline: none;
    }

    .shop-content{
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    
    .description{
        display: none;
    }
    .product-quantity{
        position: absolute;
        right: 0;
        top: 0;
        width: fit-content;
    }
    .delivery{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        display: flex;
        justify-content: space-evenly;
    }
    .footer-btn{
        width: 48%;
    }
    /* Add this CSS to your stylesheet */

    .dark-pagination .ant-pagination-item-active a,
    .dark-pagination .ant-pagination-item-active a:hover,
    .dark-pagination .ant-pagination-item-active span,
    .dark-pagination .ant-pagination-item-active span:hover {
    color: black !important; /* Opposite color for dark theme */
    }

    .light-pagination .ant-pagination-item-active a,
    .light-pagination .ant-pagination-item-active a:hover,
    .light-pagination .ant-pagination-item-active span,
    .light-pagination .ant-pagination-item-active span:hover {
    color: white !important; /* Opposite color for light theme */
    }
    /* Add this CSS to your existing stylesheet */
    .dark-pagination .ant-pagination-prev-icon,
    .dark-pagination .ant-pagination-next-icon,
    .light-pagination .ant-pagination-prev-icon,
    .light-pagination .ant-pagination-next-icon {
    color: black !important; /* Color for previous and next icons in dark theme */
    }

    .light-pagination .ant-pagination-prev:hover .ant-pagination-item-link,
    .light-pagination .ant-pagination-next:hover .ant-pagination-item-link {
    color: black !important; /* Hover color for previous and next icons in light theme */
    }

    .dark-pagination .ant-pagination-prev:hover .ant-pagination-item-link,
    .dark-pagination .ant-pagination-next:hover .ant-pagination-item-link {
    color: green !important; /* Hover color for previous and next icons in dark theme */
    }
    /* Add this CSS to your existing stylesheet */
    .dark-pagination .ant-pagination-prev-icon,
    .dark-pagination .ant-pagination-next-icon {
    color: goldenrod !important; /* Color for previous and next icons in dark mode */
    border: 1px solid white !important; /* Border color for previous and next icons in dark mode */
    border-radius: 50% !important; /* Border radius for previous and next icons in dark mode */
    }

    .light-pagination .ant-pagination-prev-icon,
    .light-pagination .ant-pagination-next-icon {
    color: black !important; /* Color for previous and next icons in light mode */
    border: 1px solid goldenrod !important; /* Border color for previous and next icons in light mode */
    border-radius: 50% !important; /* Border radius for previous and next icons in light mode */
    }

        @media (max-width: 768px) {

        .shop-card{
         width: 100%;         
        }
        
    }