/* Benefits.css */

.benefit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 26px;
}

.benefit-item {
  text-align: center;
  padding: 16px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.benefit-item:hover {
  transform: scale(1.05);
}

.benefit-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.benefit-icon:hover {
  transform: rotate(360deg);
}

.benefit h2 {
  margin-top: 10px;
}

.benefit p {
  color: #555;
  transition: color 0.3s ease-in-out;
}

.benefit-item:hover p {
  color: #ff7f50;
}

@media (max-width: 991px) {
  .benefit {
    grid-template-columns: 1fr 1fr; /* Display two columns for medium devices */
  }
}

@media (max-width: 767px) {
  .benefit {
    display: flex;
    flex-direction: column; /* Display one column for small devices */
  }
}
