/* footer.css */

/* Footer Styles */
.footer {
    position:initial;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  /* Footer Icons Styles */
  .footer-icons {
    margin-bottom: 20px;
    display: flex;
  }
  
  .icon {
    font-size: 24px;
    margin: 0 10px;
    color: #ffffff;
    transition: color 0.3s;
  }
  
  .icon:hover {
    color: #007bff;
  }
  
  /* Footer Links Styles */
  .footer-links a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #007bff;
  }
  
  /* Footer Copyright Styles */
  .footer-copyright {
    margin-top: 20px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .footer-links {
      margin-top: 20px;
    }
  }
  