/* StepOne CSS */

/* Form styles */
.submission-form {
    margin-top: 20px;
  }
  .columns-container{
    display: flex;
    margin-right: 20px;
  }
  /* Input styles */
  .form-control {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease;
  }
  
  .form-control:focus {
    border-color: #4caf50;
  }
  
  .form-control:invalid {
    border-color: #e74c3c;
  }
  
  /* Button styles */
  .btn-primary {
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .submission-form {
      width: 100%;
    }
  }
  