.welcome-text{
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.enroll{
    background-color: rgba(0, 0, 255, 0.247);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    background-color: transparent;
}
.enroll-link{
    text-decoration: none;
    font-size: 23px;
}
.cleaningSet{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 20px;
    padding: 10px;
    background-color: aqua;
    max-width: 300px;
    margin: 50px;
}
.cleaningSet a{
    color: green;
    font-size: 14px;
}