/* communityTeams.css */

/* Container Styles */
.community-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
  }
  .community-blog p{
    font-size: 20px;
  }
  /* Row Styles */
  .team-content {
    margin-bottom: 30px;
  }
  
  /* Team Name Styles */
  .team-header {
    color: #007bff;
    font-size: 22px;
    font-weight: bold;
  }
  
  /* Team Image Styles */
  .team-image {
    max-width: 80%;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Team Leader Styles */
  .team-leader {
    color: #6c757d;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Team Mission Styles */
  .team-mission {
    color: #495057;
    font-size: 16px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .community-container {
      padding: 10px;
    }
  
    .team-header {
      font-size: 18px;
    }
  
    .team-leader,
    .team-mission {
      font-size: 14px;
    }
  }
