.community-blog {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: #495057;
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Responsive Styles for Community Blog */
  @media (max-width: 992px) {
    .community-blog {
      font-size: 16px;
    }
  }
  
  @media (max-width: 768px) {
    .community-blog {
      font-size: 14px;
    }
  }
  
  @media (max-width: 576px) {
    .community-blog {
      font-size: 12px;
    }
  }

/* Container Styles */
.blog-container {
    margin-top: 700px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;

    
  }
  .blog-header {
    color: #007bff;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  /* Row Styles */
  .blog-content {
    margin-bottom: 60px;
    
  }
  
  /* Card Styles */
  .blog-card {
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .blog-card:hover {
    transform: scale(1.02);
  }
  
  /* Title Styles */
  .blog-title {
    color: #007bff;
    font-size: 22px;
    font-weight: bold;
  }
  
  /* Text Styles */
  .blog-text {
    color: #495057;
    font-size: 16px;
  }
  
  /* Image Styles */
  .blog-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Additional Info Styles */
  .blog-info {
    color: #6c757d;
    font-size: 14px;
    font-style: italic;
  }
  .blog-category{
    color: #5872899d;
    font-size: 17px;
    font-style: italic;
  }
  /* Responsive Styles */
  @media (max-width: 992px) {
    .blog-header {
        font-size: 24px;
      }
    .blog-title {
      font-size: 20px;
    }
  
    .blog-text {
      font-size: 14px;
    }
  
    .blog-info {
      font-size: 12px;
    }
  }

  @media (max-width: 768px) {
    .blog-container {
      padding: 10px;
      display: flex;
    flex-direction: column;
    }
    .blog-header {
        font-size: 22px;
      }
    .blog-title {
      font-size: 18px;
    }
  
    .blog-text {
      font-size: 14px;
    }
  
    .blog-info {
      font-size: 12px;
    }

    
  }

  @media (max-width: 576px) {
    .blog-header {
        font-size: 20px;
      }
    .blog-title {
      font-size: 16px;
    }
  
    .blog-text {
      font-size: 12px;
    }
  
    .blog-info {
      font-size: 10px;
    }
  }