.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700; /* Bold */
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Choose your desired color */
  }
  
  .login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff; /* Set a background color */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form items */
    animation: fadeIn 0.5s ease; /* Add a fade-in animation to the form */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .form-group {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 100%;
    transition: background-color 0.3s ease; /* Add a smooth transition on hover */
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: border-color 0.3s ease; /* Add a smooth transition for better user experience */
  }
  
  input:focus {
    border-color: #4caf50; /* Highlight the input border on focus */
  }
  
  input:invalid {
    border-color: #e74c3c; /* Change input border color for invalid inputs */
  }
  
  button {
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition for better user experience */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 600px) {
    .login-container {
      width: 80%; /* Adjust container width for smaller screens */
    }
  }
  