.App{
    min-height: 100vh;
    height: fit-content;
}
.component{
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
@media (max-width: 768px) {
    .App{
        width: 100%;
    }
    .component{
        max-width: 100%;
    }   
}
@media (max-width: 480px) {
    .App{
        width: 100%;
    }
    .component{
        max-width: 100%;
    }   
}