/* About.css */

/* Static Content Styles */
.static-content {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    
  }
  
  .static-content h2 {
    color: #007bff;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .static-content p {
    color: #495057;
    font-size: 16px;
    line-height: 1.5;
  }
  .additions{
    display: flex;
    justify-content: space-evenly;
    
  }
  /* Additional Content Styles */
  .additional-content {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
  }
  
  .additional-content h3 {
    color: #007bff;
    font-size: 23px;
    margin-bottom: 10px;
  }
  
  .additional-content p {
    color: #495057;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Dynamic Content Styles */
  .about-content {
    margin-bottom: 30px;
  }
  
  .about-card {
    background-color: #ffffff;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .about-card:hover {
    transform: scale(1.02);
  }
  
  .card-title {
    color: #007bff;
    font-size: 22px;
    font-weight: bold;
  }
  
  .card-text {
    color: #495057;
    font-size: 16px;
  }
  
  .about-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .static-content,
    .additional-content,
    .about-card {
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .static-content h2 {
      font-size: 24px;
    }
  
    .static-content p,
    .additional-content p,
    .card-text {
      font-size: 14px;
    }
  
    .additional-content h3,
    .card-title {
      font-size: 18px;
    }
  }
  